In [1]:
#import dependancies and test data for pre-proccessing and scaling
import pandas as pd
file_load = "Resources/water_potability_cleaned.csv"
water_df = pd.read_csv(file_load)
water_df.drop("Unnamed: 0", axis = 1, inplace=True)
water_df.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
1,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
2,5.584087,188.313324,28748.687739,7.544869,326.678363,280.467916,8.399735,54.917862,2.559708,0
3,10.223862,248.071735,28749.716544,7.513408,393.663396,283.651634,13.789695,84.603556,2.672989,0
4,8.635849,203.361523,13672.091764,4.563009,303.309771,474.607645,12.363817,62.798309,4.401425,0

In [2]:
#Identifying our inputs and target for our machine learning model
inputs = ["ph", "Hardness", "Solids", "Chloramines", "Sulfate", "Conductivity", "Organic_carbon", "Trihalomethanes", "Turbidity"]

target = ["Potability"]

In [3]:
#Seperating our values into inputs and targets
X = water_df.copy()
X.drop(target, axis = 1, inplace = True)

y = water_df[target]

In [4]:
#did it work?
X.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity
0,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771
1,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075
2,5.584087,188.313324,28748.687739,7.544869,326.678363,280.467916,8.399735,54.917862,2.559708
3,10.223862,248.071735,28749.716544,7.513408,393.663396,283.651634,13.789695,84.603556,2.672989
4,8.635849,203.361523,13672.091764,4.563009,303.309771,474.607645,12.363817,62.798309,4.401425

In [5]:
#Split the data into testing and training for our model
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [6]:
#Scaling our data so outliers do not affect our model too greatly
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaler = scaler.fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [7]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=200,
                                random_state=1)

In [8]:
classifier.fit(X_train_scaled, y_train.values.ravel())

LogisticRegression(max_iter=200, random_state=1)

In [9]:
y_pred = classifier.predict(X_test_scaled)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test.values.ravel()}).reset_index(drop=True)
results.head(20)

    Prediction  Actual
0            0       0
1            0       0
2            0       1
3            0       0
4            0       0
5            0       0
6            0       0
7            0       0
8            0       1
9            0       0
10           0       1
11           0       0
12           0       0
13           0       0
14           0       0
15           0       1
16           0       1
17           0       0
18           0       1
19           0       0

In [10]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test.values.ravel(), y_pred))

0.5944333996023857