In [1]:
# Importing Dependencies
import urllib.parse
import psycopg2
from sqlalchemy import create_engine
from config import key
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
from imblearn.ensemble import BalancedRandomForestClassifier

In [2]:
# In case the password has special characters
password = urllib.parse.quote_plus(key)

# Create an engine instance
alchemyEngine = create_engine(f'postgresql+psycopg2://postgres:{password}@localhost:5432/water_potability', pool_recycle=3600);

# Connect to PostgreSQL server
dbConnection = alchemyEngine.connect();

# Getting table from the server
water_df = pd.read_sql("select * from \"water_data_potable_w_states\"", dbConnection);
dbConnection.close();
water_df.head()

,station_code,region,tempurature,dis_oxy,ph,conduct,bod,nit,coli,total_coli,potable
0,1,MAHARASHTRA,29.2,6.4,8.1,735.0,3.4,2.00,3.0,73.0,0
1,2,MAHARASHTRA,24.5,6.0,8.0,270.0,3.1,2.00,72.0,182.0,0
2,3,MAHARASHTRA,25.8,5.5,7.8,355.0,4.2,9.00,59.0,133.0,0
3,4,MAHARASHTRA,24.8,5.5,7.8,371.0,5.6,3.55,90.0,283.0,0
4,5,MAHARASHTRA,25.7,5.7,7.9,294.0,3.2,2.69,45.0,132.0,0

In [3]:
# Noticed some "NaN" strings in the region column
water_df['region'] = water_df['region'].str.replace('NaN', 'NA')
# Tripura was lower cased
water_df['region'] = water_df['region'].str.upper()
water_df['region'].unique()

array(['MAHARASHTRA', 'ANDHRA PRADESH', 'UTTAR PRADESH', 'BIHAR',
       'WEST BENGAL', 'ASSAM', 'KARNATAKA', 'HIMACHAL PRADESH', 'KERALA',
       'TAMILNADU', 'MADHYA PRADESH', 'RAJASTHAN', 'PUNJAB', 'GOA',
       'GUJARAT', 'ODISHA', 'MEGHALAYA', 'MIZORAM', 'TRIPURA', 'ORISSA',
       'DAMAN, DIU, DADRA NAGAR HAVELI', 'TAMIL NADU', 'DAMAN & DIU'],
      dtype=object)

In [4]:
inputs = ["tempurature", "dis_oxy", "ph", "conduct", "bod", "nit", "coli", "total_coli"]
target = ["potable"]

In [5]:
# Seperating our values into inputs and targets
X = water_df.copy()
X = X[inputs]

y = water_df[target]
X.head()

   tempurature  dis_oxy   ph  conduct  bod   nit  coli  total_coli
0         29.2      6.4  8.1    735.0  3.4  2.00   3.0        73.0
1         24.5      6.0  8.0    270.0  3.1  2.00  72.0       182.0
2         25.8      5.5  7.8    355.0  4.2  9.00  59.0       133.0
3         24.8      5.5  7.8    371.0  5.6  3.55  90.0       283.0
4         25.7      5.7  7.9    294.0  3.2  2.69  45.0       132.0

In [6]:
# Split the data into testing and training for our model
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [7]:
# Scaling our data so outliers do not affect our model too greatly
scaler = StandardScaler()
X_scaler = scaler.fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [8]:
# Using Logistic Regression as the target is a binary variable
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=200,
                                random_state=1)

In [9]:
# Fit the model using training data
classifier.fit(X_train_scaled, y_train.values.ravel())

LogisticRegression(max_iter=200, random_state=1)

In [10]:
# Making predictions
y_pred = classifier.predict(X_test_scaled)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test.values.ravel()}).reset_index(drop=True)
results.head(20)

    Prediction  Actual
0            0       1
1            1       1
2            0       0
3            1       0
4            1       1
5            0       0
6            0       0
7            1       1
8            0       0
9            0       0
10           1       1
11           1       1
12           1       1
13           1       1
14           1       0
15           1       1
16           1       0
17           1       0
18           1       1
19           1       1

In [11]:
# Seeing how accurate this model is
print(accuracy_score(y_test.values.ravel(), y_pred))

0.8466453674121406

In [12]:
# Resample the training data with the BalancedRandomForestClassifier
# Instantiate
water_brfc = BalancedRandomForestClassifier(n_estimators=100, random_state=1)

# Fit
water_brfc.fit(X_train_scaled, y_train.values.ravel())

BalancedRandomForestClassifier(random_state=1)

In [13]:
# Calculated the balanced accuracy score
# This accuracy is extremely high; no need to check for other sampling methods
y_pred = water_brfc.predict(X_test_scaled)
balanced_accuracy_score(y_test, y_pred)

0.9935913185913186

In [14]:
# Display the confusion matrix
# Calculating the confusion matrix
cm = confusion_matrix(y_test, y_pred)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual not Potable", "Actual Potable"], columns=["Predicted not Potable", "Predicted Potable"])
cm_df

                    Predicted not Potable  Predicted Potable
Actual not Potable                    147                  1
Actual Potable                          1                164

In [15]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.99      0.99      0.99      0.99      0.99      0.99       148
          1       0.99      0.99      0.99      0.99      0.99      0.99       165

avg / total       0.99      0.99      0.99      0.99      0.99      0.99       313

In [16]:
# List the features sorted in descending order by feature importance
features_ranked = sorted(zip(water_brfc.feature_importances_, X.columns), reverse=True)
for feature in features_ranked:
    print(f"{feature[1]}: ({feature[0]})")

bod: (0.49999608378865446)
total_coli: (0.16462266779532006)
coli: (0.11340023517481157)
dis_oxy: (0.06084683361824241)
conduct: (0.05487524037466256)
ph: (0.05000463296179883)
nit: (0.03769662310306829)
tempurature: (0.018557683183441823)

In [17]:
# This was used before to fixed minor string values. Will be deleted in the final submission.

# To write a pandas table to PostgreSQL, its as simple as .to_sql(dataframe, dbConnection, if_exists = 'replace')
# In case of errors, it'll print out where it went wrong
# Update the minor text changes in the region column do postgreSQL
#postgreSQLTable = "water_data_potable_w_states"
#try:
#    frame = water_df.to_sql(postgreSQLTable, dbConnection, if_exists = 'replace')
#except ValueError as vx:
#    print(vx)
#except Exception as ex:  
#    print(ex)
#else:
#    print("PostgreSQL Table %s has been created successfully."%postgreSQLTable);